@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    margin:0px;
}

:root{
    --fonte:'Passion One';
    --fonte2:'Sriracha';
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background-color:black;
    padding:20px;
    color:white;
}

header a {
    text-decoration:none;
    color:white;
}

header a:hover {
    background-color:rgba(255, 255, 255, 0.342);
    padding:10px;
}

header > h1 {
    font-family:var(--fonte);
    font-variant: small-caps;
    text-align:center;  
    letter-spacing:3.5px;
    padding:10px;
    margin-top:20px;
    font-size:10vw;
}

header > p {
    text-align:center;
    padding: 10px 0px 15px 0px;
    margin-top:-22px;
    font-size:2.3vw;
}

main article.moldura{
    padding:30px;
    padding-bottom:40px;
}

main article p{
    font-family:var(--fonte2);
    font-size:3.5vw;
    line-height:2em;
    text-align:left;
}

main article#texto1{
    margin-top:40px;
}

main article#texto2{
    box-shadow:inset 0px 5px 10px 0px rgba(0, 0, 0, 0.555);
    background-image:url("imgs/background1.jpg");
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
}

main article#texto2 p{
    padding:10px;
    background-color:rgba(0, 0, 0, 0.445);
    color:white;
}

main article#texto5 {
    box-shadow:inset 0px 5px 10px 0px rgba(0, 0, 0, 0.555);
    background-image:url("imgs/background2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

main article#texto5 p{
    padding:10px;
    background-color:rgba(0, 0, 0, 0.445);
    color:white;
}

footer{
    background-color:black;
    color:white;
    text-align: center;
    padding:10px;
    font-size:1.2em;
}

footer a {
    text-decoration:none;
    color:white;
}

footer a:hover {
    color:yellow;

}


@media (max-width:800px)
{
    main article#texto2 p{
        width:50%;
    }

    main article#texto5 p{
        width:50%;
    }
    
    footer p{
        font-size:0.8em;
    }

    footer p > a {
        font-size:1em;
    }
}

@media (min-width:801px)
{
    main article#texto2 p{
        width:50%;
    }

    main article#texto5 p{
        width:50%;
    }
}
